#content {
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
}

#navbarContent{
    margin-left: 5%;
    margin-right: 5%;
}

.code-block {
    position: relative;
}

.code-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

html, body {
    margin: 0;
    padding: 0;
}

.background {
    background-image: url('/images/jameswebb2.png');
    position:  absolute;
    display:  block;
    top: 0;
    left: 0;
    z-index: -1;
    filter: blur(4px);
} 

@font-face {
    font-family:"CaesarDressing";
    src: url("CaesarDressing-Regular.ttf") /* EOT file for IE */
}

#logo{
    font-family:'CaesarDressing';
    font-size: 38px;
    background-image: linear-gradient(to left, rgb(37, 70, 255), rgb(0, 234, 255), rgb(1, 182, 1), yellow, orange, red);   -webkit-background-clip: text;
    color: transparent;
}

.nav-link.menu-thing {
    cursor: pointer;
    font-size: 26px;
}

.nav-link.menu-thing:hover {
    cursor: pointer;
    color:yellow;
}