.vertical-timeline * {
  box-sizing: border-box;
}

.vertical-timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}


.vertical-timeline .container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
  max-width: 100%;
  margin-left: 0;
}

.vertical-timeline .left {
  left: 0;
}

.vertical-timeline .right {
  left: 50%;
}

.vertical-timeline .left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

.vertical-timeline .right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

.vertical-timeline .right::after {
  left: -13px;
}

.vertical-timeline .content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

@media screen and (max-width: 600px) {
  .vertical-timeline::after {
    left: 31px;
  }

  .vertical-timeline .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  .vertical-timeline .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  .vertical-timeline .left::after, .vertical-timeline .right::after {
    left: 15px;
  }

  .vertical-timeline .right {
    left: 0%;
  }
}
